/* Button styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\000032}}
.btn {
  background: -webkit-linear-gradient(top, #999999 30%, #666666 100%);
  background: linear-gradient(to bottom, #999999 0%, #666666 100%);
  color: #FFF;
  margin: 0;
  padding: 0.3rem 0.5rem;
  border-radius: 16px;
  border: none;
  font-size: 95%;
  font-weight: normal;
  box-shadow: 1px 1px 2px #111;
  text-shadow: 1px 1px 0 #222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000315}}
.btn:hover {
  box-shadow: 3px 3px 5px #222;
  background: -webkit-linear-gradient(top, #999999 10%, #555555 100%);
  background: linear-gradient(to bottom, #999999 10%, #555555 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000321}}
.btn:focus,
.btn:active {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000323}}
.btn-build-journey {
  background: -webkit-linear-gradient(top, #8babc9 20%, #688197 100%);
  background: linear-gradient(to bottom, #8babc9 20%, #688197 100%);
  margin-right: 0.8rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000328}}
.btn-build-journey:hover {
  background: -webkit-linear-gradient(top, #8babc9 10%, #345d81 100%);
  background: linear-gradient(to bottom, #8babc9 10%, #345d81 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000333}}
.btn-build-journey:focus,
.btn-build-journey:active {
  background: -webkit-linear-gradient(top, #345d81 10%, #8babc9 100%);
  background: linear-gradient(to bottom, #345d81 10%, #8babc9 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000338}}
.btn-icn {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 0.8;
  margin-left: 0.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000346}}
.btn-add-location {
  background: -webkit-linear-gradient(top, #7d976c 30%, #536b48 100%);
  background: linear-gradient(to bottom, #7d976c 30%, #536b48 100%);
  text-indent: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000351}}
.btn-add-location:hover {
  background: -webkit-linear-gradient(top, #7d976c 10%, #536b48 100%);
  background: linear-gradient(to bottom, #7d976c 10%, #536b48 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000356}}
.btn-add-location:focus,
.btn-add-location:active {
  background: -webkit-linear-gradient(top, #8babc9 10%, #345d81 100%);
  background: linear-gradient(to bottom, #536b48 10%, #7d976c 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000361}}
.btn-remove-location {
  background: -webkit-linear-gradient(top, #bf810a 40%, #7a4524 100%);
  background: linear-gradient(to bottom, #bf810a 40%, #7a4524 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000365}}
.btn-remove-location:hover {
  background: -webkit-linear-gradient(top, #bf810a 20%, #7a4524 100%);
  background: linear-gradient(to bottom, #bf810a 20%, #7a4524 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000370}}
.btn-clear-field {
  margin-left: -2.2rem;
  margin-right: 0.2rem;
  background: #CCC;
  opacity: 0.6;
  color: #FFF;
  box-shadow: none;
  text-shadow: 1px 1px 0 #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Struan\/projects\/indy-map\/app\/styles\/buttons\.scss}line{font-family:\0000379}}
.btn-clear-field:hover {
  background: #E33;
  box-shadow: none;
}
