@font-face {
  font-family: 'Fedora';
  /*src: url('../fonts/SF Fedora.ttf') format('truetype');*/
  src: url("../fonts/SF Fedora.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FedoraTitle';
  src: url("../fonts/SF Fedora Titles.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
